*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #777; */
}
.parent h1 {
    font-size: 70px;
    color: violet;
}
.parent p {
    font-size: 40px;
    color: darkred;
}